/* Image de la page d'accueil*/

.jumbotron {
    background-image: url("images/jumbotron.jpg");
    background-size: cover;
    background-position: center top;
    color: #eeeeee;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
}

.jumbotron h1 {
    font-weight: bold;
}

/* Codes postaux flottants */

.hiddenRow {
    padding: 0 !important;
}

.floatingzip {
    float: left; padding: 5px;
}

.floatingzip-input {
    float: left; padding: 5px;
    width: 125px;
}

.small-input {
    width: 100px;
}

.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}